<% if post.favorited_by?(current_user) %>
	<span>
	    <%= link_to post_likes_path(post), method: :delete, remote: true, class: 'like' do %>
		    <i class="fa fa-heart"></i>
		    <%= post.likes.count %>
	    <% end %>
	</span>
<% else %>
	<span>
	    <%= link_to post_likes_path(post), method: :post, remote: true, class: 'like' do %>
		    <i class="fa fa-heart-o"></i>
		    <%= post.likes.count %>
	    <% end %>
	</span>
<% end %>