<div class="row">
	<div class="col-xs-2">
		<!-- 会員情報 -->
		<%= render 'users/user-info', user:current_user %>
	</div>

	<div class="col-xs-8">
		<!-- スライドショー -->
		<div id="slide-box">
		    <div id="slide">
				<% @user_posts.each do |post| %>
					<% if post.favorited_by?(current_user) %>
						<% post.post_images.each do |image| %>
							<%= attachment_image_tag image, :image %>
						<% end %>
					<% end %>
				<% end %>
		    </div>
		</div>
		<!-- 会員投稿一覧 -->
		<%= render 'posts/posts', posts:@user_posts %>
	</div>
</div>

<script src="/assets/skippr.min.js"></script>
<script src="/assets/slide.js"></script>
