<!-- スライドショー(仮) -->
<div id="slide-box">
    <div id="slide">
        <div style="background-image: url(/assets/book.jpg)"></div>
        <div style="background-image: url(/assets/home.jpg)"></div>
        <div style="background-image: url(/assets/home1.jpg)"></div>
        <div style="background-image: url(/assets/home2.jpg)"></div>
        <div style="background-image: url(/assets/home3.jpg)"></div>
    </div>
</div>

<%= render 'posts/posts', posts:current_user.posts %>

<script src="/assets/skippr.min.js"></script>
<script src="/assets/slide.js"></script>
