<div class="row customer-status">
  <div class="text-center">
    <div>
      <p><strong>本当に退会しますか？</strong></p>
      <p>
        退会すると、会員登録情報や<br>
        これまでの投稿が閲覧できなくなります。<br>
        退会する場合は、『退会する』をクリックしてください。
      </p>
    </div>
    <div class="customer-status-btn">
      <% if user_signed_in? %>
        <%= link_to "退会する", user_status_path(current_user), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        <%= link_to "退会しない", edit_user_path(current_user), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>