/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	@import "bootstrap-sprockets";
	@import "bootstrap";

body {
	min-height: 100vh;
	position: relative;
	padding-bottom: 50px;
	box-sizing: border-box;
}

.container-fluid {
	padding: 0;
}

/* ヘッダー */
header {
	width: 100%;
	height: 80px;
	color: white;
	box-shadow: 0 3px 10px 3px rgba(0,0,0,0.4);
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-nav > li > a {
	font-family: 'sans-serif';
	line-height: 55px;
	padding: 1rem 1.5rem;
	text-align: center;
	color: gray;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.3s;

	&:hover {
	color: #62e3c5;
	background: none;
	border-bottom: 5px solid #62e3c5;
	}
}

.header--title {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	line-height: 80px;
	margin-left: 20px;
	background: linear-gradient(to right, #62e3c5, #2a7ff5, #9d2af5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	&:hover {
		text-decoration: none;
		color: white;
	}
}
.header-nav {
	text-align: center;
}


.heading {
	color: #62e3c5;
	font-weight: bold;
}
/* ログイン&新規登録 */
.login, .signup {
	margin-top: 30px;

	& .field {
		margin-top: 20px;
	}

	& .actions {
		margin: 20px 0;
	}
}

/* 検索 */
.searchs {
	display: inline-block;
	text-align: center;
	margin: 2.5rem 0 0 3%;
	color: black;
}

#search_content {
	width: 250px;
}

/* 会員詳細&投稿関連 */
.user-image {
	border-radius: 50%;
	border: 1px solid #62e3c5;
}

.auto {
	width: 100%;
	background: linear-gradient(to top, #ddafff, #fff);
	padding-bottom: 50px;
	min-height: 100vh;
}

.posts {
	display: flex;
	flex-flow: row wrap;

	& .__post {
		width: 400px;
		margin: 20px auto;
		padding: 15px;
		border: 3px solid #3ce6be;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
		position: relative;
		transition: all 0.5s ease 0s;

		& .--title {
			color: #62e3c5;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			margin: 10px 0 10px 30px;
		}

		& .--article {
			word-break: break-all;
			font-size: 20px;
			margin-bottom: 40px;
		}

		& .--icon {
			position: absolute;
			bottom: 20px;
			left: 20px;
		}

		& .-link {
			color: black;
			text-decoration: none;
		}

		& .--images {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 10px 0 30px 0;
		}

		& .-image {
			border-radius: 15px;
			margin: 5px 5px 5px 15px;

		}

		& .no_image {
			display: block;
			margin: 0 auto;
		}

		&:hover {
			box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
			transform: translateY(-0.1em);
			text-decoration: none;
		}
	}
}

/* フッター */
footer {
	width: 100%;
	height: 50px;
	background-color: #62e3c5;
	text-align: center;
	line-height: 5rem;
	position: absolute;
	bottom: 0;
	color: white;

	& .__admin {
		color: white;

	}
}

/* 会員情報 */
.user-info {
	background-color: #62e3c5bd;
	border-radius: 15px;
	margin-top: 20px;
	box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
	position: fixed;
	top:120px;
	left: 20px;
	width: 15%;
	min-width: 200px;
	color: white;
	font-weight: bold;

	& .fas {
		font-size: 20px;
		color: white;
	}

	& .introduction {
		color: white;
		font-size: 20px;
		word-break: normal;
	}

	& .--right {
		margin-top: 20px;
	}

	& .user-image {
		transition: all 0.5s;

		&:hover {
			box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
			transform: translateY(-0.1em);
		}
	}
}

/* タグ検索 */
.badge {
	background-color: #2b04fb;
	padding: 5px 10px;
}
.tags {
	position: fixed;
	top: 120px;
	right: 20px;
	width: 15%;

	& .__title {
		color: #62e3c5;
		font-weight: bold;
	}

	& .__tag {
		margin-top: 5px;
	}
}

/* 新規登録 */
.need {
	color: red;
}

/* 初期設定変更 */
.row {
	margin-right: 0;
	margin-left: 0;
}

.btn-success {
	color: #5cb85c;
	background-color: #fff;
	transition: all 0.3s;

	&:hover {
		color: #fff;
		background-color: #5cb85c;
		border-color: #5cb85c;
	}
}

.btn-danger {
	color: #d9534f;
	background-color: #fff;
	transition: all 0.3s;

	&:hover {
		color: #fff;
		background-color: #d9534f;
		border-color: #d9534f;
	}
}

.btn-primary {
	color: #337ab7;
	background-color: #fff;
	transition: all 0.3s;

	&:hover {
		color: #fff;
		background-color: #337ab7;
		border-color: #337ab7;
	}
}

/* いいね */
.like {
	color: #ff73ce;
	text-decoration: none;
	font-size: 20px;

	&:hover {
		color: #ff73ce;
	}
}

/* コメント */
.fa-comment {
	color: #5adb5c;
	text-decoration: none;
	font-size: 20px;

	&:hover {
		color: #5adb5c;
	}
}

/* お気に入り */
.favorite {
	color: #e6db4e;
	text-decoration: none;
	font-size: 20px;

	&:hover {
		color: #e6db4e;
	}
}

/* ページャ */
.pagination .active a {
	background-color: #3ce6be;
    border-color: #3ce6be;

    &:hover {
		background-color: #3ce6be;
	    border-color: #3ce6be;
    }
}

.pagination li a {
	color: #3ce6be;

	&:hover {
		color: #3ce6be;
	}
}

a:hover {
	text-decoration: none;
}
.page {
	text-align: center;
}

/* フラッシュメッセージ */
.flash {
	padding: 0;

	& .alert {
		margin: 0;
		border-radius: 0;
	}
}
/* エラーメッセージ */
#error_explanation {
	color: red;
}

/* ハンバーガーメニュー */
.btn-gnavi {
	margin: 0;
}
#wrapper {
	display: inline-block;
	float: right;
}

@media screen and (max-width: 1000px) {
	.header-nav {
	    position: fixed;
	    top: 0;
	    right: -25rem;
	    width: 25rem;
	    height: 100%;
	    padding-top: 5rem;
	    background: #636effed;
	    box-sizing: border-box;
	    z-index: 2;

	    & ul li {
		    display:block;
		    padding: 0.5rem 3rem;
		    width: 100%;

		    & a {
		    	color: #fff;

		    	&:hover {
		    	color: #62e3c5
		    	}
		    }
	    }
	}

	.btn-gnavi {
		position: fixed;
		top: 2.5rem;
		right: 3rem;
		width: 3rem;
		height: 3rem;
		z-index: 3;
		box-sizing: border-box;
		cursor: pointer;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;

		& .bar {
			position: absolute;
			width: 3rem;
			height: 0.4rem;
			background: #3ce6be;
			border-radius: 10px;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 1rem;
			}

			&:nth-child(3) {
				top: 2rem;
			}
		}

		&.open {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);

			& span {
				background: blue;
			}
		}
	}
}
