/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	@import "bootstrap-sprockets";
	@import "bootstrap";

body {
	min-height: 100vh;
	position: relative;
	padding-bottom: 50px;
	box-sizing: border-box;
}

.container-fluid {
	padding: 0;
}

/* ヘッダー */
header {
	width: 100%;
	height: 80px;
	color: white;
	box-shadow: 0 3px 10px 3px rgba(0,0,0,0.4);
	position: sticky;
	top: 0;
	z-index: 100;
}

.navbar-nav > li > a {
	font-family: 'sans-serif';
	line-height: 55px;
	padding: 10px 20px;
	text-align: center;
	color: gray;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.3s;

	&:hover {
	color: #62e3c5;
	background: none;
	border-bottom: 5px solid #62e3c5;
	}
}

.header--title {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	line-height: 80px;
	margin-left: 20px;
	background: linear-gradient(to right, #62e3c5, #2a7ff5, #9d2af5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	&:hover {
		text-decoration: none;
		color: white;
	}
}

/* 会員詳細&投稿関連 */
.user-image {
	border-radius: 50%;
}
.auto {
	width: 100%;
	background: linear-gradient(to right, #e3e3e3, #fff, #e3e3e3);

	& .height {
		width: 100%;
		height: 5000px;
	}
}

.posts {
	display: flex;
	flex-flow: row wrap;

	& .post {
		width: 400px;
		height: 550px;
		margin: 20px auto;
		padding: 15px;
		border: 3px solid #3ce6be;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
		position: relative;
		transition: all 0.5s ease 0s;
		text-decoration: none;
		color: black;

		& .__images {
			height: 350px;
		}

		& .--image {
			border-radius: 15px;
			margin: 5px 5px 5px 15px;

		}

		& .no_image {
			display: block;
			margin: 0 auto;
		}

		&:hover {
			box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.7);
			transform: translateY(-0.2em);
		}
	}
}

/* フッター */
footer {
	width: 100%;
	height: 50px;
	background-color: #62e3c5;
	text-align: center;
	margin-top: auto;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	color: white;

	& .__admin {
		color: white;

	}
}

/* 会員情報 */
.user-info {
	width: 100%;
	background-color: white;
	border-radius: 15px;
	margin-top: 20px;
	box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
}

/* 新規登録 */
.need {
	color: red;
}

/* row初期設定変更 */
.row {
	margin-right: 0;
	margin-left: 0;
}