// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
	height: 100px;
	background-color: #62e3c5;
	border-radius: 100px;
	line-height: 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin: 10px 0;
	padding: 0 10px;

	& .-image {
		border-radius: 50%;
		font-size: 20px;
	}
}