// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
	margin: 20px auto;
	max-width: 700px;
}
.__info {
	padding: 10px;
	background-color: #62e3c5;
	border-radius: 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	word-break: break-all;
}
.-image {
	border-radius: 50%;
}
#comment-form {
	max-width: 700px;
	margin: 10px auto;

	& button {
		color: #fff;
		background-color: blue;
		margin: 10px 0 50px 0;
	}
}