// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* home画面 */
.top-image {
	background-image: image-url("relax.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center;
	display: flex;
	align-items: center;

	& .--title {
		font-family: 'Dancing Script', cursive;
		font-size: 15rem;
		color: #62e3c5;
		padding-left: 10px;
	}

}

.explanation {
	height: 500px;
	text-align: center;
	background-color: #62e3c5;

	& .row {
		margin: 0;
	}

	& .--text {
		margin-top: 20px;
		font-size: 4rem;
		color: white;
		position: relative;
		top: 30px;
	}

	& .items {
		font-size: 30px;
		font-weight: bold;
		background-color: #62e3c5;
		margin-top: 150px;

		& .__link {
			color: white;

			&:hover {
				color: gray;
				text-decoration: none;
			}

			& .-black {
				color: gray;
			}
		}
	}
}

.item {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;

	& .fas {
		font-size: 300px;
	}

	& .--title {
		font-family: 'Dancing Script', cursive;
		font-size: 13rem;
	}

	& .--article {
		font-size: 2rem;
	}
}

#post {
	background-color: #c945f5;
}

#favorite {
	background-color: #e6db4e;
}

#good {
	background-color: #ff73ce;
}

#comment {
	background-color: #5adb5c;
}

#follow {
	background-color: #2647c9;
}

#inquiry {
	width: 100%;
	height: 100vh;
	padding-top: 10rem;

	& .--title {
		border-bottom: 0.5rem solid #62e3c5;
		width: 35rem;
		margin: 0 auto;
		padding-bottom: 10px;
		font-size: 5rem;

		& .fas {
			color: #62e3c5;
		}
	}

	& label {
		font-size: 2.5rem;
		text-align: center;
		width: 100%;
		margin-top: 2rem;
	}

	& .--field {
		height: 3.5rem;
		width: 100%;
		border: none;
		border-bottom: 2px solid gray;
		font-size: 3.5rem;

		&:focus {
			outline: 0;
			border-bottom: 2px solid #62e3c5;
		}
	}

	& .--area {
		font-size: 3.5rem;
		height: 20rem;
	}
}
/* アバウトページ */
.about-image {
	background-image: image-url("home1.jpg");
	background-position: bottom;
	background-size: cover;
	width: 100%;
	min-height: 100vh;

	& .cover {
		min-height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		text-align: center;

		& .start {
			padding: 10px 20px;
			background-color: white;
			color: #62e3c5;
			border-radius: 15px;
			font-weight: bold;
			transition: all 0.7s;

			&:hover {
				text-decoration: none;
				background-color: #62e3c5;
				color: white;
			}
		}
	}
	& .__title {
		font-size: 100px;
	}

	& .__subtext {
		margin-top: 30px;
	}
	& .list-box {
		display: flex;
		justify-content: center;
		margin: 15px 0;

		& .__list {
			width: 200px;
			height: 300px;
			border: 2px solid #62e3c5;
			border-radius: 15px;
			margin: 15px;

			& .--text {
				margin-top: 20px;
				padding: 0 5px;
			}
		}
		& .--image {
			border-radius: 50%;
			width: auto;
			height: 120px;
			margin-top: 30px;
		}
	}
}