// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.black-back {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.new {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #62e3c5;
	padding: 40px 20px;
	background-color: #fff;
	border-radius: 15px;
	width: 400px;
	height: 500px;

	& h2 {
		margin-bottom: 20px;
	}
	& .__title {
		width: 300px;
	}

	& .__article {
		width: 300px;
		height: 130px;
	}

	& .btn {
		width: 300px;
		margin-top: 20px;
	}

	& #close {
	    border-radius: 50%;
	    width: 30px;
	    height: 30px;
	    cursor: pointer;
	    color: #62e3c5;
	    transition: all 0.5s;
	    font-size: 20px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    float: right;
	    position: relative;
	    bottom: 20px;


		&:hover {
			color: #fff;
			background-color: #62e3c5;
		}
	}
}

.open-form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 50px;
	left: 50px;
	cursor: pointer;


	& .__icon {
		padding: 30px;
		color: #62e3c5;
		background-color: #fff;
		border-radius: 50%;
		border: 3px solid #62e3c5;
		font-size: 50px;
		transition: all 0.5s;

		&:hover {
			color: #fff;
			background-color: #62e3c5;
			box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.5);
		}
	}
}

/* 投稿詳細 */
#slide-post {
	height: 500px;
	border: 5px solid #62e3c5;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}