// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* お気に入りスライド */
#slide-box {
	height: 650px;
	border: 5px solid yellow;
	margin-top: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: 18px;

	& #slide {
		border-radius: 15px;
		background-position: center;
		background-size: cover;
	}
}

.user-show {
	background: linear-gradient(to right, #62a7e385, #62e3ba78, #c9e3627a);
	min-height: 100vh;

	& .btn {
	margin: 20px 0 0 30px;
	}
}
.user-edit {
	margin-top: 50px;

	& .btn-primary {
		margin-top: 30px;
	}

	& .field {
		margin: 10px;

		& .form-control {
			width: 50%;
		}
	}
}

.password {
	margin-top: 30px;

	& .field {
		margin-top: 30px;
	}
}